* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

body {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

h3 {
    font-size: .8em;
    font-weight: 300;
    color: #666;
}

#operacoes {
    text-align: right;
}

#op_anterior {
    color: #777;
    padding: .2em;
    overflow-wrap: break-word;
    min-height: 1.6em;
}

#op_inserida {
    min-height: 1.6em;
    font-size: 3em;
    font-weight: 700;
    padding: 0.2em;
    overflow-wrap: break-word;
}